[Unit]
Description = isucon7 qualifier main application in golang

[Service]
WorkingDirectory=/home/kyokomidev/isubata/webapp/go/
EnvironmentFile=/home/kyokomidev/files/app/env.sh

ExecStart = /home/kyokomidev/isubata/webapp/go/isubata

Restart   = always
Type      = simple
User      = isucon
Group     = isucon

[Install]
WantedBy = multi-user.target
